.navbar-links li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
}

.navbar-links a,
.navbar-links button {
    color: #fff;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    border-radius: 8px;
}

.navbar-links a:hover,
.navbar-links button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}